<mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Assets menu
        </mat-panel-title>
        <mat-panel-description>
          For Assets Management 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Create an asset </h4>
      <p> 
        You can create new asset through Assets menu.</p>
    </mat-expansion-panel>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
         Facilities
        </mat-panel-title>
        <mat-panel-description>
          For Faciity Management
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Create an facility </h4>
      <p> 
        You can create new facility through Facilities menu.</p>
    </mat-expansion-panel>
     <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Users
        </mat-panel-title>
        <mat-panel-description>
          For User Management
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Create an User </h4>
      <p> 
        Admin can create new User through Users menu.</p>
    </mat-expansion-panel>
  </mat-accordion>